.addTaskDropDownContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

textarea {
  outline: none;
  margin: 0;
  padding: 1em;
  height: 200px;
  width: 400px;
  background-color: white;
}

.btnContainer {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
}

.btnContainer button {
  padding: 1em;
  color: white;
  background-color: black;
}
