.allOrgsContainer {
  display: flex;
  justify-content: space-around;
}

.orgCardContainer {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 240px;
  box-shadow: 0.8px 0.9px 3px rgb(187, 187, 187);
}

.imgAndOrgName {
  display: flex;
  flex-direction: column;
}

.imgAndOrgName img {
  height: auto;
  width: 100%;
}

.orgName {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  margin: 0.5em 0;
}

.openModalBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5em;
  padding: 1em;
  border: transparent;
  border-radius: 5px;
}

.openModalBtn:hover {
  color: white;
  background-color: darkgrey;
}
