.allOrgsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.orgCardContainer {
  display: flex;
  height: 400px;
  width: 300px;
}

.imgAndOrgName {
  display: flex;
  flex-direction: column;
}

.imgAndOrgName img {
  width: 100%;
  height: auto;
}

.orgName {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}

.openModalBtn {
  margin: 0.5em;
  padding: 0.5em;
}
