.wrapper {
  display: flex;
  padding: 1em;
}

.leftPanel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 30%;
  min-width: 280px;
  border-right: 1px solid lightgrey;
  padding: 0 1em;
}

.headerAndOrgs {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.allOrgsContainer {
  display: flex;
  justify-content: center;
  overflow-y: scroll;
  padding: 0 1em;
  width: 100%;
  height: 100%;
}

.sectionHeader {
  font-size: 2em;
  text-align: center;
}

.orgCardContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
  width: 240px;
  box-shadow: 0.8px 0.9px 3px rgb(187, 187, 187);
  border-radius: 5px;
  margin: 1em;
}

.imgAndOrgName {
  display: flex;
  flex-direction: column;
}

.imgAndOrgName img {
  max-height: 100%;
  width: auto;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.orgName {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  margin: 0.5em 0;
}

.numMembers {
  opacity: 0.6;
  text-align: center;
}

.openModalBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5em;
  padding: 0.5em;
  border: transparent;
  border-radius: 5px;
}

.openModalBtn:hover {
  color: white;
  background-color: darkgrey;
}
