.btnContainer {
  display: flex;
  width: 100%;
  align-items: baseline;
  justify-content: center;
  padding: 6px;
}

.btnContainer button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 49.5%;
  border-radius: 5px;
  border: transparent;
  padding: 0.5em;
}

.headerCont {
  display: flex;
  align-items: center;
  text-align: center;
}

.spanCont {
  padding: 6px;
}

.allOrgsHeader {
  padding: 0px 10px;
}

.allOrgsAnchor {
  text-decoration: none;
}

.allOrgsCont {
  padding: 10px;
  /* background-color: aqua; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  align-items: center;
}

.orgCont {
  background-color: brown;

  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
  margin-right: 6px;
  margin-bottom: 6px;
}

.orgImgCont {
  height: max-content;
  width: 15rem;
}

.orgImg {
  height: 9rem;
  width: 15rem;
  max-height: 9rem;
  max-width: 15rem;
}

.orgNameCont {
  text-align: center;
  vertical-align: middle;
  margin: auto;
  color: whitesmoke;
}

.orgName {
  padding: 5px;
}
.removeBtn {
  background-color: rgb(95, 189, 95);
  color: white;
}
.removeBtn:hover {
  background-color: rgb(77, 155, 77);
}

.test {
  text-align: center;
}
