/* ---- Column ---- */

.columnContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 365px;
  max-width: 370px;
  min-width: 365px;
  height: calc(100vh - 7.8em);
  margin: 0 0.3em;
  background-color: lightgray;
  padding: 0 0.5em 0.5em 0.5em;
  border-radius: 5px;
  overflow-y: scroll;
}

.badgeTitleDotMenu {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em;
  position: sticky;
  top: 0;
  background-color: lightgrey;
  z-index: 10;
}

.badgeAndTitle {
  display: inline-flex;
  align-items: baseline;
  justify-content: flex-start;
  width: 75%;
}

.columnBadge {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  background-color: #fff;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  margin-right: 0.5em;
  padding: 0.8em;
}

.newTaskAndMoreOpts {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
}

.newTaskAndMoreOpts *:hover {
  cursor: pointer;
}

.cardContainer {
  width: 345px;
  min-width: 345px;
  max-width: 345px;
  height: 100%;
  padding: 0.4em;
}

.card {
  width: 100%;
}
