/* ---- Column ---- */

.columnContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;

  width: 365px;
  max-width: 370px;
  min-width: 365px;

  margin: 0 0.3em;
  background-color: lightgray;
  padding: 0.5em;
  border-radius: 5px;
}

.badgeTitleDotMenu {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0.3em;
}

.badgeAndTitle {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  width: 75%;
}

.columnBadge {
  font-size: 14px;
  padding: 2px 4px;
  background-color: #fff;
  border-radius: 5px;
  margin-right: 0.5em;
}

.newTaskAndMoreOpts {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
}

.newTaskAndMoreOpts *:hover {
  cursor: pointer;
}

.cardContainer {
  height: 490px;

  width: 345px;
  min-width: 345px;
  max-width: 345px;

  padding: 0.4em;
  overflow: auto;
}

.card {
  min-width: 325px;
  max-width: 35px;
}
.cardContainer::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}

.cardContainer::-webkit-scrollbar {
  width: 6px;
}

.cardContainer::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
}
