/* ---- Column ---- */

.columnContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 355px;
  margin: 0 0.3em;
  height: 510px;
  background-color: lightgrey;
  padding: 0.5em;
  border-radius: 5px;
}

.badgeTitleDotMenu {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0.3em;
}

.badgeAndTitle {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  width: 75%;
}

.columnBadge {
  font-size: 18px;
  padding: 0.3em;
  background-color: #fff;
  border-radius: 5px;
  margin-right: 0.5em;
}

.newTaskAndMoreOpts {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
}

.newTaskAndMoreOpts *:hover {
  cursor: pointer;
}
