/* temporarily hidden */
.commentContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: min-content;
  width: 100%;
  padding: 1em 0;
  border-bottom: 1px solid lightgrey;
}

.userInfoAndContent {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.avatarNameTime {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 35%;
}

.avatarNameTime img {
  height: 32px;
  width: 32px;
  border-radius: 50%;
}

.nameAndTime {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  margin-left: 0.3em;
  line-height: 1em;
}

.name {
  font-size: 0.9em;
}

.timePosted {
  opacity: 0.6;
  font-size: 11px;
}

.content {
  font-size: 16px;
  width: 65%;
  margin-left: 0.5em;
}

.editCommentTextarea,
.editCommentTextarea:focus {
  width: 300px;
  resize: none;
  border: 1px solid lightgrey;
  padding: 0.3em;
  margin: 0 0 0 0.5em;
}

.editDelete {
  font-size: 12px;
  display: none;
  align-items: baseline;
  justify-content: flex-end;
  margin-top: 1em;
  margin-bottom: -0.5em;
}

.commentContainer:hover .editDelete {
  display: flex;
}

.edit {
  opacity: 0.6;
}

.deleteLink {
  color: blue;
  cursor: pointer;
}

.pipeDivide {
  margin: 0 0.3em;
}
