/* temporarily hidden */
.commentContainer {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  height: min-content;
  width: auto;
  border-bottom: 1px solid lightgrey;
  margin: 20px 0 10px 0;
}

.nameAvatarDate {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.nameAndAvatar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: min-content;
  font-size: 0.9em;
}

.name {
  margin-left: 0.3em;
}

.nameAndAvatar img {
  height: 22px;
  width: 22px;
  border-radius: 50%;
}

.timeAndDate {
  opacity: 0.6;
  font-size: 12px;
}

.contentAndEditDelete {
}

.content {
  font-size: 14px;
}
