/* temporarily hidden */
.commentContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: min-content;
  width: 100%;
  padding: 1em 0;
}

.commentContainer:not(:last-child) {
  border-bottom: 1px solid lightgrey;
}

.userInfoAndContent {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.avatarNameTime {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 35%;
}

.avatarNameTime img {
  height: 32px;
  width: 32px;
  border-radius: 50%;
}

.nameAndTime {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  margin-left: 0.3em;
  line-height: 1em;
}

.name {
  font-size: 0.9em;
}

.timePosted {
  opacity: 0.6;
  font-size: 11px;
}

.content {
  font-size: 14px;
  width: 65%;
  margin-left: 0.5em;
}

.editCommentTextarea,
.editCommentTextarea:focus {
  resize: vertical;
  width: 95%;
  border: 1px solid lightgrey;
  padding: 0.3em;
  margin: 0 0 0 0.5em;
}

.editDelete {
  font-size: 12px;
  display: none;
  align-items: baseline;
  justify-content: flex-end;
  margin-top: 1em;
  margin-bottom: -0.5em;
}

.commentContainer:hover .editDelete {
  display: flex;
}

.editFieldAndBtn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: min-content;
  width: 100%;
}

.editLink,
.deleteLink {
  opacity: 0.6;
  cursor: pointer;
}

.editLink:hover,
.deleteLink:hover {
  opacity: 1;
}

.editLink {
  color: blue;
}

.deleteLink {
  color: red;
}

.pipeDivide {
  margin: 0 0.3em;
}

.saveEditCommentBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(231, 231, 231);
  padding: 0.3em 0.6em;
  border-radius: 5px;
  font-size: 14px;
  width: 110px;
  margin: 0.5em;
  cursor: pointer;
}

.saveEditCommentBtn:hover {
  color: blue;
}
