.headerCont {
  display: flex;
  text-align: center;
}

.spanCont {
  padding: 6px;
}

/* .orgSvg   {
  margin-top: 10px;
} */

.allOrgsHeader {
  padding: 0px 10px;
}

.allOrgsAnchor {
  text-decoration: none;
}

.allOrgsCont {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  align-items: center;
}

.orgCont {
  background-color: brown;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
  margin-right: 6px;
  margin-bottom: 6px;
}

.orgImg {
  height: 9rem;
  width: 15rem;
  max-height: 9rem;
  max-width: 15rem;
}

.orgNameCont {
  text-align: center;
}

.orgName {
  padding: 5px;
}

.buttonCont {
  display: flex;
  padding: 5px;
  justify-content: space-between;
}

.accept {
  padding: 8px;
  border-radius: 12px;
  background-color: #44cf44;
  color: white;
  border-color: white;
  text-decoration: none;
  border-width: 0;

  text-align: center;
}

.decline {
  padding: 8px;
  border-radius: 12px;
  background-color: #f23a3a;
  color: white;
  border-color: white;
  text-decoration: none;
  border-width: 0;

  text-align: center;
}
