.allInvitesContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 2em;
}

.invitationsHeader {
  font-size: 1.2em;
  margin-bottom: 1em;
}

.inviteContainer {
  display: flex;
  height: 80px;
  width: 240px;
  max-width: 240px;
  min-width: 220px;
  border-radius: 5px;
  box-shadow: 0.8px 0.9px 3px rgb(187, 187, 187);
}

.inviteContainer img {
  height: 100%;
  width: auto;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.nameAndIcons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.orgName {
  text-align: center;
}

.acceptAndDecline {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.textAndIcon {
  cursor: pointer;
}

.textAndIcon i {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
}

.textAndIcon span {
  font-size: 12px;
  opacity: 0.6;
}
