.homeContainer {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.homeContainer section {
  height: 600px;
}

.homeContainer .leftPanel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em 4em;
  width: 45%;
}

.homeContainer .rightPanel {
  width: 55%;
}

.rightPanel {
  display: flex;
  flex-shrink: 1;
}

.homeContainer .rightPanel .landingPageImg {
  width: auto;
  height: auto;
  justify-self: flex-end;
}

.bigText {
  font-size: 4em;
  color: black;
  margin-top: 1em;
  line-height: 1.2em;
}

.notearyColor {
  color: rgb(60, 60, 197);
}

.mainCopy {
  margin-top: 1em;
  font-size: 1.2em;
}

.landingPageForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.landingPageForm input {
  height: 2.6em;
  padding: 0.5em;
  border-radius: 5px;
  margin-right: 1em;
  width: 60%;
}

.landingPageForm button,
.gotoProjects button {
  border-radius: 5px;
  border: transparent;
  background-color: rgb(60, 60, 197);
  color: white;
  height: 2.6em;
}

.landingPageForm button {
  margin-top: 0;
  width: 40%;
}

.gotoProjects {
  display: flex;
  justify-content: flex-end;
  padding-right: 3em;
}
