.homeContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
}

.leftPanel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 50%;
}

.leftPanel p {
  margin-bottom: 6em;
}

.rightPanel {
  width: 50%;
}

.rightPanel img {
  display: flex;
  height: 60vh;
  width: auto;
}

.bigText {
  font-size: 4em;
  color: black;
  margin-bottom: 0.3em;
  line-height: 1.2em;
}

.notearyColor {
  color: rgb(60, 60, 197);
}

.mainCopy {
  margin-top: 1em;
  font-size: 1.2em;
}

.landingPageForm {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.landingPageForm input {
  height: 2.6em;
  padding: 0.5em;
  border-radius: 5px;
  margin-right: 1em;
  width: 400px;
}

.landingPageForm button,
.gotoProjects button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: transparent;
  background-color: rgb(60, 60, 197);
  color: white;
  height: 2.6em;
}

.landingPageForm button {
  margin-top: 0;
  width: 180px;
  margin-right: 3em;
}

.gotoProjects {
  display: flex;
  justify-content: flex-end;
  padding-right: 3em;
}

.gotoProjects button {
  padding: 1em;
}
