.modalBackdrop {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.6;
}

.transparentBlockContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.centeredModalBlock {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  border-radius: 5px;
  margin: auto 0;
  z-index: 3;
}

.centeredModalBlock * {
  z-index: 4;
}
