.numberOfCommentsContainer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  top: -2.2em;
  left: -7.7em;
}

.numberOfCommentsContainer span {
  width: auto;
  background-color: rgb(233, 232, 232);
  padding: 0.2em 0.4em;
  border-radius: 5px;
  font-size: 12px;
}
