.numberOfCommentsContainer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.numberOfCommentsContainer span {
  width: auto;
  background-color: rgb(233, 232, 232);
  padding: 0.2em 0.4em;
  border-radius: 5px;
  font-size: 12px;
}
