.profileMasterCont {
  display: flex;
  padding: 10px;
  /* background-color: aqua; */
  justify-content: space-evenly;
}

.profileContainer {
  /* width: 95%; */
}

.profileImgCont {
  display: flex;
  justify-content: center;
}

.profileImg {
  max-width: 10rem;
  max-height: 10rem;
  border-radius: 50%;
  border: solid black;
}

.nameCont {
  text-align: center;
}

.emailCont {
  text-align: center;
}

.updateProfileCont {
  display: inline;
}

.updateProfileCont a {
  text-decoration: none;
  color: white;
  background-color: blue;
  padding: 8px;
  float: right;
  border: none;

  border-radius: 16px;
}

.NewUpdateUserContainer {
  margin: 50px auto;
  display: flex;
  flex-direction: row;
  width: 80%;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 20px;
}

.NewUpdateUserContainerLeft {
  flex: 1 1 400px;
}

.NewUpdateUserContainerRight {
  flex: 1 1 400px;
}

.flexCol {
  margin: 0 auto;
  flex: 1 1 500px;
  display: flex;
  flex-direction: column;
}
.formGroup {
  margin-bottom: 1rem;
}
.formLabel {
  display: inline-block;
  margin-bottom: 0.5rem;
}
.formControl {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
