/* ---- SingleOrganization Left Panel ---- */

.wrapper {
  display: flex;
  padding: 1em;
  justify-content: center;
}

.leftPanel {
  width: 30%;
  min-width: 280px;
  max-width: 300px;
  border-right: 1px solid lightgrey;
  margin-right: 2em;
}

.membersContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}

/* ---- Member ---- */

.memberContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 270px;
  padding: 1em;
}

.membersTitle {
  font-size: 1.2em;
  text-align: left;
  margin-bottom: 1em;
  margin-left: 1em;
}

.imgAndInfo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.memberAvatar {
  border-radius: 50%;
  height: 48px;
  width: 48px;
  border: transparent;
  margin-right: 1em;
}

.nameAndRole {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.memberRole {
  opacity: 0.6;
  font-size: 12px;
}

.removeBtnContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  white-space: nowrap;
  cursor: pointer;
}

.removeBtnContainer i {
  color: red;
}

.removeBtnContainer span {
  font-size: 12px;
}

.addUserBtnContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
}

.addUserToOrgBtn {
  padding: 0.5em 1em;
  border-radius: 5px;
  border: transparent;
  color: white;
  background-color: rgb(77, 155, 77);
}

.addUserToOrgBtn:hover {
  background-color: rgb(60, 122, 60);
}

/* ---- SingleOrganization Right Panel ---- */

.rightPanel {
  width: 70%;
}

.avatarAndName {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 2em;
}

.avatarAndName img {
  height: 100px;
  width: auto;
  border-radius: 5px;
}

.avatarAndName span {
  padding: 1em;
  font-size: 1.8em;
}

.headerAndBtn {
  display: flex;
  align-items: baseline;
  justify-content: center;
  width: min-content;
  margin-bottom: 1em;
}

.projectHeader {
  font-size: 1.2em;
  text-align: left;
  margin-right: 1em;
}

.createProjectBtn {
  border: transparent;
  border-radius: 5px;
  padding: 0.5em;
  color: white;
  background-color: rgb(35, 118, 187);
  width: 160px;
}

.createProjectBtn:hover {
  background-color: rgb(28, 96, 151);
}

.allProjectsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  height: 660px;
  overflow: auto;
}

.allProjectsContainer::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}

.allProjectsContainer::-webkit-scrollbar {
  width: 6px;
}

.allProjectsContainer::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
}

/* ---- ProjectFrame ---- */

.frameBoundary {
  width: 700px;
}

.projectFrameContainer {
  display: flex;
  justify-content: space-between;
  height: auto;
  width: 700px;
  box-shadow: 0.8px 0.9px 3px rgb(187, 187, 187);
  border-radius: 5px;
  margin: 1em 0;
}

.projectFrameContainer img {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.projectContents {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 500px;
  padding: 1em 0.4em 1em 1em;
}

.menuContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  padding: 0;
  height: 0;
  cursor: pointer;
}

.menuContainer span {
  right: 0.3em;
}

.projectName {
  font-size: 1.4em;
  font-weight: bold;
  overflow-wrap: break-word;
}

.projectStatus {
  opacity: 0.6;
  margin-bottom: 2em;
  max-width: 440px;
}

.projectDescription {
  width: auto;
  max-width: 440px;
}
