.organizationContainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
}

.organizationImg {
  height: 200px;
  width: auto;
  margin: 0 auto;
}

.membersAndProjects {
  display: flex;
  justify-content: space-around;
  width: 80vw;
  margin: 0 auto;
  padding: 1em;
}

.membersContainer,
.projectsContainer {
  display: flex;
  flex-direction: column;
}

.membersTitle,
.projectsTitle {
  font: bold;
  font-size: 22px;
}
