.singleTaskContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: #ccc;
  padding: 0.5em;
}

.nameAndCreator {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.badgeNameId {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
}

.inlineBadge {
  display: inline-flex;
}

.taskName {
  font-weight: bold;
  margin: 0 0.5em;
}

.panels {
  display: flex;
  flex-direction: row;
}

.leftPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em;
}

.descriptionMarkdown {
  height: 200px;
  width: 400px;
  border: 1px solid black;
}

textarea {
  outline: none;
  margin: 0;
  padding: 1em;
}

textarea:focus {
  border: transparent;
  resize: none;
}

.containerLabel {
  margin: 1em 0 0.2em 0;
}

.commentsContainer {
  height: 200px;
  width: 400px;
  border: 1px solid black;
  overflow-y: scroll;
  background-color: white;
}

.updateAndDeleteBtns {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin: 1em 0;
}

.rightPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 0.5em;
  margin-left: 0.5em;
}

.rightPanel * {
  height: 100px;
  width: 100%;
  background-color: white;
  margin: 0.3em;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.backToProjectView {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.backToProjectView .spanContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.backToProjectView a {
  text-decoration: none;
}
