.btnContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.addCommentBtn {
  border: transparent;
  border-radius: 5px;
  background-color: rgb(95, 189, 95);
  color: white;
  font-size: 14px;
  padding: 0.5em 0.8em;
  margin-top: 1em;
}

.addCommentBtn:hover {
  background-color: rgb(77, 155, 77);
}

.singleTaskContainer {
  display: flex;
  flex-direction: column;
  background-color: #ccc;
  padding: 0 1em 1em 1em;
  border-radius: 5px;
  max-height: 80vh;
  overflow-y: scroll;
}

.fixedHeader {
  position: sticky;
  top: 0;
  padding: 1em 0;
  background-color: #ccc;
  z-index: 999;
}

.infoBar {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
}

.nameAndCreator {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 1em;
}

.badgeNameId {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
}

.inlineBadge {
  display: inline-flex;
}

.taskId {
  opacity: 0.6;
  margin-left: 0.2em;
}

.nameAndEditIcon {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 320px;
}

.taskName {
  font-weight: bold;
  margin-left: 0.5em;
  max-width: 300px;
  overflow-wrap: break-word;
  display: inline-block;
}

.clickToEdit {
  font-size: 18px;
  opacity: 0.6;
  width: min-content;
}

.editName {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 3em;
  width: 200px;
  padding: 0 0.3em;
  margin-left: 0.5em;
}

.underTitleInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.creatorAndLastEdited {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.creator,
.lastEdited {
  font-size: 0.8em;
}

.backToProjectView {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 14px;
  position: sticky;
  top: -1em;
  width: 100%;
}

.backToProjectView .spanContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 0.3em 0.6em;
  border-radius: 5px;
}

.backToProjectView a {
  text-decoration: none;
}

.spanContainer i {
  font-size: 16px;
}

.mainPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  overflow-wrap: break-word;
  display: inline-block;
}

.containerLabel {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 1em;
}

.editIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 4px;
  height: 24px;
  width: 24px;
  background-color: white;
  margin-left: 0.5em;
  cursor: pointer;
}

.editIcon i {
  font-size: 18px;
}

.smol {
  font-size: 12px;
  opacity: 0.6;
  margin-left: 0.5em;
}

.descriptionMarkdown,
.commentsContainer {
  height: min-content;
  width: 400px;
  background-color: white;
  border-radius: 5px;
  padding: 1em;
  margin: 0.5em 0;
}

.descriptionMarkdown:hover {
  cursor: auto;
}

.saveEditTitleBtn {
  margin-left: 0.5em;
  margin-bottom: -0.8em;
}

.saveEditBtn,
.saveEditTitleBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 0.3em 0.6em;
  border-radius: 5px;
  font-size: 14px;
  width: 110px;
  cursor: pointer;
}

.saveEditBtn:hover,
.saveEditTitleBtn:hover {
  color: blue;
}

.markdownLink {
  font-size: 12px;
  width: 100%;
  text-align: right;
  opacity: 0.6;
}

.markdownLink a {
  color: blue;
}

.noCommentMessage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 1em;
  margin: 0 auto;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

.noCommentMessage span {
  max-width: 300px;
  text-align: center;
  overflow-wrap: break-word;
  display: inline-block;
}
