.singleTaskContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #ccc;
  padding: 1em;
  border-radius: 5px;
  max-height: 80vh;
  overflow-y: scroll;
}

.infoBar {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
}

.nameAndCreator {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.badgeNameId {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
}

.inlineBadge {
  display: inline-flex;
}

.taskId {
  opacity: 0.6;
  margin-left: 0.2em;
}

.taskName {
  font-weight: bold;
  margin: 0 0.5em;
}

.creator,
.lastEdited {
  font-size: 0.8em;
}

.backToProjectView {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 12px;
}

.backToProjectView .spanContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.backToProjectView a {
  text-decoration: none;
}

.mainPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.containerLabel {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-top: 1em;
}

.smol {
  font-size: 12px;
  opacity: 0.6;
  margin-left: 0.5em;
}

.descriptionMarkdown,
.commentsContainer {
  height: 200px;
  width: 400px;
  background-color: white;
  border-radius: 5px;
  padding: 1em;
  margin: 0.5em 0;
}

.descriptionMarkdown:hover {
  cursor: auto;
}

textarea {
  outline: none;
  padding: 1em;
}

textarea:focus {
  border: transparent;
  resize: none;
}

.markdownLink {
  font-size: 12px;
  width: 100%;
  text-align: right;
}

.markdownLink a {
  color: blue;
}

.commentsContainer {
  height: 200px;
  width: 400px;
  overflow-y: scroll;
  background-color: white;
}
