/* ---- TaskCard ---- */

section {
  width: 100%;
}

.innerContainer,
.innerContainerActive {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0.5em;
  background-color: #fff;
  border-radius: 5px;
  margin: 0.5em 0;
}

.innerContainerActive {
  border: 1px solid red;
}

.dotMenu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.taskCardContainer,
.taskCardContainerActive {
  display: flex;
  height: min-content;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  margin-top: -1em;
}

.titleAndCreator {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 0 0.5em 1em;
}

.title {
  font-weight: bold;
}

.title *:first-child {
  font-weight: normal;
  margin-right: 0.2em;
  font-size: 0.9em;
}

.idAndCreatedBy {
  opacity: 0.6;
  font-size: 12px;
  line-height: 1.2em;
}

.commentsBadgeAndAvatars {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
}

.commentsBadgeAndAvatars img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
