.taskCardContainer {
  display: flex;
  height: min-content;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.5em;
  background-color: #fff;
  border-radius: 5px;
  margin: 0.5em 0;
}

.dropTargetContainer {
  display: flex;
  height: 3em;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.5em;
  border: 3px dotted black;
  background-color: #aaa;
  border-radius: 5px;
  margin: 0.5em 0;
}
