.dropdownParent {
  position: relative;
}

.dropdownParentClosed {
  position: relative;
  visibility: hidden;
}

.taskCardDropDownContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 2em;
  justify-content: space-between;
  background-color: white;
  border-radius: 5px;
  z-index: 999;
  border: 1px solid rgb(35, 118, 187);
}

.fieldContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropDownField {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.5em;
  cursor: pointer;
}

.fieldName:hover {
  text-decoration: underline;
}

/* ---- Modal Container ---- */

.modalBackdrop {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.6;
}

.transparentBlockContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.centeredModalBlock {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  border: 2px solid blue;
  background-color: white;
  z-index: 3;
}

.centeredModalBlock * {
  z-index: 4;
}
