/* ---- TaskCard ---- */

.innerContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0.5em;
  background-color: #fff;
  border-radius: 5px;
  margin: 0.5em 0;
}

.taskCardContainer,
.taskCardContainerActive {
  display: flex;
  height: min-content;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.taskCardContainerActive {
  border: 1px solid red;
}

.titleAndCreator {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dotMenuAndAvatar {
  display: flex;
  flex-direction: column;
  width: 15%;
}

.dotMenuAndAvatar img {
  height: auto;
  width: 100%;
  border-radius: 50%;
}
