.userCardContainer {
  width: 380px;
  height: 120px;
  background-color: var(--cardBackground);
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0.5em;
  box-shadow: 0.8px 0.9px 3px rgb(187, 187, 187);
  transition: box-shadow 0.1s ease-in-out;
}

.userCardContainer:hover {
  box-shadow: 0.8px 0.9px 3px rgb(63, 127, 201);
}

.userCardContainer img {
  height: 120px;
  width: auto;
  max-width: 180px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.userCardInfo {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  margin: 0;
}
