* {
  box-sizing: border-box;
}

.topLevelViewContainer {
  /* display: flex;
  flex-direction: column; */
  height: 100%;
  width: 100%;
  /* max-width: 1200px; */
  margin: 0 auto;
  padding: 0;
  overflow-x: scroll;
}

button {
  padding: 0.5em 1em;
}
