* {
  box-sizing: border-box;
}

/* body {
  background-color: #726cf8;
  background-image: linear-gradient(315deg, #726cf8 0%, #e975a8 74%);
} */

.topLevelViewContainer {
  /* display: flex;
  flex-direction: column; */
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  overflow-x: scroll;
}

button {
  padding: 0.5em 1em;
}
