/* temporarily hidden */
.commentContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  overflow-y: scroll;
  width: 100%;
  border-bottom: 1px solid lightgrey;
  padding: 0.5em;
}

.nameAndAvatar {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  width: auto;
}

.nameAndAvatar img {
  height: 60px;
  width: 60px;
}
