.taskCardDropDownContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  right: -50%;
  width: 50%;
  justify-content: space-between;
  background-color: white;
}

.fieldContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropDownField {
  height: min-content;
  width: 100%;
  padding: 0.5em;
  border-bottom: 1px solid lightgrey;
}

.dropDownField:nth-child(n) {
  border-bottom: none;
}

.arrowDown {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid white;
  background-color: transparent;
  position: relative;
  left: 86%;
}
